<footer class="footer bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h5>Información de contacto</h5>
          <p>Correo electrónico: Peko@ejemplo.com</p>
          <p>Teléfono: +58-414-6548895</p>
        </div>
        <div class="col-lg-6">
          <h5>Enlaces útiles</h5>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Adoptante" routerLinkActive="active">Adoptantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Animales" routerLinkActive="active">Animales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/HistMed" routerLinkActive="active">Hist.Medico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/kanguro" routerLinkActive="active">Kanguros</a>
            </li>
    
          </ul>
        </div>
      </div>
    </div>
  </footer>