#titulo {
    background-color: rgba(0, 140, 100, 0.3);
    padding: 0%;
    opacity: 5;
  }

  .container{
    background-color: #ffffff;
    
}
body{
  background: rgb(0,140,163);
  background: linear-gradient(0deg, rgba(0,140,163,1) 18%, rgba(2,82,145,1) 69%);
}

#basic-addon2{
  background-color: #becc07;
}