<body>
  <br>
  <div class="container rounded-3">
    <br>
  <div class="row">
      <div class="col-2"><h1 id="titulo" class="rounded-2" style="font-weight: bold;">Adoptantes</h1></div>
  </div>
  <br><br>
  <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <h1>Ingresando nuevo Adoptante</h1>
        <form [formGroup]="adopForm" (ngSubmit)="onFormSubmit()">
          <div class="mb-3 mt-3"><!-- //Nombre y apellido -->
              <label for="AdoptanteNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="AdoptanteNombre" placeholder="" formControlName="nombreADOP" aria-label="Username" aria-describedby="basic-addon1">
            </div>          
            <div class=" mb-3">
              <label for="AdoptanteApellido" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="AdoptanteApellido" placeholder="" formControlName="apellidoADOP" aria-label="Username" aria-describedby="basic-addon1">
            </div>
      
            <label for="AdoptanteCedula">Cedula</label>
            <div class=" input-group mb-3"><!-- Cedula -->
              
              <span class="input-group-text" id="basic-addon2">V-</span>
              <input type="text" class="form-control" id="AdoptanteCedula" placeholder="" formControlName="cedulaADOP" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
      
            <label for="AdoptanteDireccion">Direccion</label>
            <div class="input-group mb-3"><!-- Direccion -->
              <input type="text" class="form-control" id="AdoptanteDireccion" placeholder="" formControlName="direccionADOP" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            
            <label for="AdoptanteReferencia">Referencia de direccion</label>
            <div class="input-group mb-3"><!-- Referencia de direccion -->
              <input type="text" class="form-control" id="AdoptanteReferencia" placeholder="" formControlName="referenciaADOP" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            
            <label for="AdoptanteTelefono">Telefono</label>
            <div class="input-group mb-3"><!-- Telefono -->
              <input type="text" class="form-control" id="AdoptanteTelefono" placeholder="" formControlName="TelefonoADOP" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
      
            <label for="AdoptanteCelular">Celular</label>
            <div class="input-group mb-3"><!-- Celular -->
              <input type="text" class="form-control" id="AdoptanteCelular" placeholder="" formControlName="celularADOP" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            
            <label for="AdoptanteAdoptados">Animales Adoptados</label>
            <div class="input-group mb-3"><!-- Animales Adoptados -->
              <input type="text" class="form-control" id="AdoptanteAdoptados" placeholder="" formControlName="AnimalesADOP" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
              <button class="btn btn-success" type="submit"> Guardar</button>
        </form>
      </div>
  </div>

  <br>
  <div class="row">
    <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Adoptantes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-edit-adop></app-edit-adop>
        </div>

      </div>
    </div>
  </div>

  </div>
  

  
  
      <!-- <div class="row">
          <div class="col-1 bg-danger-subtle"><h2>1</h2></div>
          <div class="col-1 bg-success"><h2>2</h2></div>
          <div class="col-1 bg-danger-subtle"><h2>3</h2></div>
          <div class="col-1 bg-success"><h2>4</h2></div>
          <div class="col-1 bg-danger-subtle"><h2>5</h2></div>
          <div class="col-1 bg-success"><h2>6</h2></div>
          <div class="col-1 bg-danger-subtle"><h2>7</h2></div>
          <div class="col-1 bg-success"><h2>8</h2></div>
          <div class="col-1 bg-danger-subtle"><h2>9</h2></div>
          <div class="col-1 bg-success"><h2>10</h2></div>
          <div class="col-1 bg-danger-subtle"><h2>11</h2></div>
          <div class="col-1 bg-success"><h2>12</h2></div>
      </div> -->
      <div class="row rounded-3 m-lg-3 m-md-1 ">
        <h1 class=" bg-success-subtle rounded-2" style="font-weight: bold;">Registros recientes</h1>
        </div>

        <div class="row">
          <app-tabla-ad></app-tabla-ad>
        </div>
  </div>
  <br>
</body>

<app-footer></app-footer>