#titulo {
    background-color: rgba(0, 140, 100, 0.3);
    padding: 0%;
    opacity: 5;
  }

  .container{
    background-color: #f7f7f7;
    box-shadow: inset;
    
}
body{
  background: rgb(0,140,163);
  background: linear-gradient(0deg, rgba(0,140,163,1) 18%, rgba(2,82,145,1) 69%);
}

#basic-addon2{
  background-color: #becc07;
}

/* Estilos para agregar sombra a los inputs */
.input-group input.form-control {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos para agregar sombra al textarea */
.input-group textarea.form-control {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para agregar sombra a los select */
  .input-group select.form-control {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}